@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Questrial&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
}
.robin {
  font-weight: 700;
}
.strb {
  margin-top: 20px;

  font-size: 1.3em;
}
.header {
  height: 100vh;
  /* background-image: url("./img/BG-Home.png");
  background-size: contain;
  background-repeat: no-repeat; */
}

.homebg {
  object-fit: cover;
  position: absolute;
  left: -200px;
  z-index: -1;
  top: -10px;
  opacity: 0.1;
  height: 900px;
}

.midcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 200px;
  margin-top: 50px;
}
.first {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 3em;
}
.bold {
  font-weight: 900;
}
.second {
  font-size: 60px;
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  margin-top: 30px;
  line-height: 1.2em;
  text-align: center;
  margin-left: 20px;
}

.discoverbtn {
  margin-top: 5em;
  width: 300px;
  outline: none;
  border: 0px;
  padding: 10px;
  background-color: rgb(77, 65, 240);
  color: #eee;
  border-radius: 60px 0px 60px 60px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 0.2s;
}

.discoverbtn:hover {
  background-color: rgb(73, 116, 209);
}
.secondPage {
  height: 100vh;
}
.secondPage .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 40px;
}
.items {
  width: 40rem;
  align-content: center;
  position: inherit;
  margin-top: 30px;
  margin-bottom: 30px;
}
.box {
  /* padding: 20px; */
  margin-right: 5em;
  border-left: 2px solid rgb(77, 65, 240);
  padding: 40px;
  box-shadow: 1px 3px 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  /* border-radius: 5px; */
}
.item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.7em;
  text-transform: uppercase;
}

.item-body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.courseBtn {
  background-color: rgb(77, 65, 240);
  width: 190px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
  color: #eee;
  border-radius: 0px 25px 0px 0px;
  text-transform: uppercase;
}

.box:hover {
  background-color: rgba(77, 65, 240, 0.068);
}

.item-btn {
  padding: 6px 20px;
  border: 0px;
  background-color: rgba(112, 65, 240, 0.253);
  color: rgb(76, 76, 233);
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Questrial", sans-serif;
  -webkit-transition: 0.2s;
}
.item-btn:hover {
  background-color: rgba(147, 109, 250, 0.253);
}
section {
  /* height: 100vh; */
}
.intro {
  top: 2200px;
  height: 100vh;
  position: absolute;
  right: 100px;
  /* margin: 700px;
  margin-left: 200px;
  margin-bottom: 20px; */
}

.all {
  background-color: rgba(77, 65, 240, 0.068);
  border-radius: 150px 0px 0px 0px;
  display: flex;
  width: fit-content;
  padding: -10px;
  margin-right: -200px;

  /* height: 600px; */
}
.steveimg {
  /* margin-right: 80px; */
  height: 45em;
}

.right-col {
  padding: 100px;
}

.intro-one {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}
.intro-two {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  margin-top: 10px;
}

.intro-3 {
  margin-top: 10px;
  font-weight: 200;
  font-family: "Questrial", sans-serif;
  line-height: 2em;
  font-size: 1.2em;
}
.intro-btn {
  margin-top: 40px;
  padding: 10px 35px;
  background: white;
  border: 0px;
  border-radius: 20px 0px 20px 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: rgb(97, 97, 241);
  -webkit-transition: 0.2s;
}

.intro-btn:hover {
  background-color: rgba(52, 52, 253, 0.26);
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
}
.mobile-menu {
  height: 30px;
  filter: invert();
}

.menu-cont {
  right: 0px;
  top: 0px;
  position: absolute;
  padding: 15px 20px;
  background-color: rgb(77, 65, 240);
  border-radius: 0 0 0 20px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  cursor: pointer;
}

.menu-cont:hover {
  background-color: rgb(99, 89, 245);
}

.courses .container {
  position: absolute;
  bottom: -3050px;
  width: fit-content;
  height: 100vh;
}
.mid {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1000px;
  left: 270px;
}
.course-items {
  position: absolute;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin-left: -145px;
}
.course-box {
  padding: 40px;
  width: 400px;
  background-color: white;
  margin-right: 30px;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0px;
  -webkit-transition: 0.2s;
}
.course-box:hover {
  background-color: rgba(62, 62, 226, 0.24);
}

.course-1 {
  margin-top: 15px;
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 800;
}
.course-2 {
  margin-top: -10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.course-img {
  height: 100px;
}

.mid-1 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2em;
}
.mid-2 {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-size: 2.7em;
  text-align: center;
}

.feedback .container {
  position: absolute;
  bottom: -3800px;
  width: fit-content;
  height: 100vh;
}

.feed-mid {
  text-align: center;
}
.feed-1 {
  font-size: 1.8em;
  text-transform: capitalize;
  position: inherit;
  font-weight: 200;
  margin-left: 230px;
}
.feed-2 {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  margin-left: 210px;
}
.feed-bold {
  font-weight: 500;
}
.feed-background {
  padding: 60px;
  margin-top: 40px;
  position: inherit;
  background-color: rgba(77, 65, 240, 0.068);
  width: 900px;
  margin-left: 300px;
  border-radius: 60px 60px 0 0;
}

.dots {
  display: flex;
  color: rgb(151, 151, 151);
  margin-left: 315px;
  margin-top: 50px;
}
.dot-1 {
  color: black;
}
.feed-img {
  border-radius: 10px;
}
.details {
  display: flex;
  flex-direction: row;
  position: inherit;
  margin-left: 300px;
  margin-top: 40px;
}
.details-right {
  margin-left: 30px;
  text-align: left;
}
.pr-2 {
  position: inherit;
  margin-top: -10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.pr-1 {
  text-transform: uppercase;
  position: inherit;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.fb-1 {
  font-family: "Questrial", sans-serif;
  font-size: 1.3em;
  width: 570px;
  position: inherit;
  margin-left: 105px;
}
.feed-up {
  color: white;
  font-size: 2em;
  position: inherit;
  margin-top: 10px;
}
.f-up {
  padding: 10px;
  background-color: rgb(77, 65, 240);
  width: 100px;
  position: inherit;
  margin-left: 1408px;
  margin-top: -100px;
  border-radius: 35px 0 0 0;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s;
}
.f-up:hover {
  background-color: rgb(111, 101, 248);
}

.footer .container {
  position: inherit;
  margin-top: 2855px;
  height: 39vh;
  width: 100%;
  background-color: rgb(16, 68, 102);
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 40px 40px 0 0;
  padding: 30px;
  justify-content: space-between;
}
.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.soc-ic {
  margin-right: 15px;
}
.fab {
  cursor: text;
}
.left-f {
  margin-left: 100px;
  margin-top: 40px;
}
.lf-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}
.lf-3 {
  margin-top: 30px;
  font-family: "Questrial", sans-serif;
  font-weight: lighter;
}
.right-f {
  margin-top: 40px;
  margin-right: 100px;
  width: 600px;
}
.rf-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.input {
  display: flex;
}
.ir-1 {
  position: inherit;
  margin-top: 40px;
  margin-left: 70px;
}
.il-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 5px;
}
.il-2 {
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  outline: none;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.ir-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 30px;
  outline: none;
  background-color: rgb(77, 65, 240);
  color: white;
  border: 0px;
  border-radius: 20px 0 20px 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
}
.ir-1:hover {
  background-color: rgb(101, 92, 240);
}

/* 
  font-family: "Montserrat", sans-serif;

  font-family: "Questrial", sans-serif; 
 
  */ ;
